@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

@if (Player.IsValid() && !Player.IsLocalPlayer && !(Player.FindLocalPlayer()?.WantsHideHud ?? false))
{
	<root>

		<div class="card">

			<div class="avatar" style="background-image: url( avatar:@Player.SteamId )"></div>

			<div class="name-block">
				<label class="name">@Player.DisplayName</label>
				@if ( Player.IsWanted )
				{
					<label class="wanted-label">WANTED</label>
				}
			</div>
			@if ( IsVoicePlaying )
			{
				<div class="voice">volume_up</div>
			}
		</div>

	</root>
}

@code
{
	[Property] public Player Player;

    Sandbox.Voice voiceComponent;

    protected override void OnEnabled()
    {
        base.OnEnabled();
        voiceComponent = GameObject.Root.Components.GetInDescendantsOrSelf<Voice>();
    }

    public bool IsVoicePlaying
    {
        get
        {
            if (voiceComponent is null) return false;
            return voiceComponent.LastPlayed < 0.5f;
        }
    }

    /// <summary>
    /// Rebuild if the owner connection changes
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( Network.Owner, Player?.DisplayName, IsVoicePlaying, Player.FindLocalPlayer()?.WantsHideHud ?? false, Player?.IsWanted );
}
